<div class="__header"></div>
<div class="__layout">
    <div class="__sidebar"></div>
    <div class="__content">
        <div class="__content-top">
            <div class="__viewer"></div>
            <div class="__content-right">
                <div class="__metrics"></div>
                <div class="__alerts"></div>
            </div>
        </div>
        <div class="__content-bottom">
            <div class="__detections"></div>
            <div class="__report"></div>
        </div>
    </div>
</div>
<div class="__upload-overlay"></div>
