<div class="__header-container">
    <div class="__header-left">
        <button class="__header-toggle" title="Toggle sidebar">
            <span class="material-icon">menu</span>
        </button>
        <div class="__header-brand">
            <span class="material-icon __header-brand-icon">radar</span>
            <span class="__header-brand-name">NAUTICA</span>
        </div>
    </div>
    <div class="__header-center">
        <span class="__header-title">MARITIME INTELLIGENCE SYSTEM</span>
    </div>
    <div class="__header-right">
        <div class="__header-status">
            <span class="__header-status-dot"></span>
            <span class="__header-status-text">SYSTEM ONLINE</span>
        </div>
        <div class="__header-divider"></div>
        <div class="__header-clock">
            <span class="material-icon">schedule</span>
            <span class="__header-clock-time">--:--:--</span>
        </div>
    </div>
</div>
